### * **Simple Print Statements**

In [2]:
# you can use ' ' as well as " " to print the statement
print('This is Pratiksha')
print("I'm from Nashik")

This is Pratiksha
I'm from Nashik

In [3]:
print('My Name is Pratiksha, \nI am from Nashik')

'''
here we use '\n' for printing the other half statement on the new line
\n stands for new line
'''

My Name is Pratiksha,
I am from Nashik

In [5]:
# we can also perform Mathematical operations withing the print statement as follows:

print(5+6)
print(10-2)
print(10/2)
print(2*4)

11
8
5.0
8

In [6]:
# we can perform mathematical operations directly without using any variable

12+2

14

In [7]:
16/2

8.0

### * **Assigning Values to variable**

variables are nothing but the containers that contains or hold the values that we are assigning to them.

In [9]:
a = 10
print(a)

#here a is nothing but the variable that contains the value 10
#and we simply print the variable so the output will be 10

10

In [10]:
# Multiple Assignment 1

a = b = c = 1 # here I assign single value to 3 different variables
print(a)
print(b)
print(c)

1
1
1

In [12]:
# multiple assignment 2

a,b,c = 1,2,3
print(a,b,c) # you can print it together as well
print(a)
print(b)     # you can print seperate as well
print(c)

1 2 3
1
2
3

**Rules for Variable Declaration**

In [1]:
# 1) variable name can't starts with numbers

'''
9Name = 10
print(9Name)
'''

Name9 = 10
print(Name9)

10

In [2]:
# 2) Python is case sensitive

'''
Age9 = 10
print(age9)
'''

age9 = 15
print(age9)

15

In [3]:
# 3) spaces are not allowed

'''
age 9 = 10
print(age 9)
'''

age9 = 10
print(age9)

10

In [5]:
# 4) spacial characters are not allowed only _ is allowed

_age_9 = 10
print(_age_9)

10

### * **Data Types in Python**

Data Types are the classification and Categorization of Data Items.

In [17]:
# String

a = 'Apple'
print(a)
print(type(a)) #str



# integer

b = 10
print(b)
print(type(b)) # int


# float

c = 10.5
print(c)
print(type(c)) # float

# Boolean

d = 10
e = 10
f = (d == e)
print(f)     # return true
print(type(f)) # bool


# complex

a = 2+3j # 2 is real number and 3j is imaginary
print(a)
print(type(a)) # complex

Apple
<class 'str'>
10
<class 'int'>
10.5
<class 'float'>
True
<class 'bool'>

### **Type Conversion**

Type Conversion is the conversion of object from one data type to another data type.

* Implicit Type Conversion

Implicit type conversion automatically converts one data type to another data type without user involvement

In [24]:
k=10
b=12.8
print(k+b)

22.8

* Explicit Type Conversion

Explicit type conversion/typecasting converts one data type to another data type using predefined functions like int(), float(), str(), etc.

In [26]:
k="10"
print(type(k))
k1=int(k)
b=12.8
print(k1+b)
print(type(k1))

<class 'str'>
22.8
<class 'int'>

In [32]:
k="10"
print(type(k))
k1=int(k)
b=12.8
c = k1 + b
d = int(c)
print(d)
print(type(k1))

<class 'str'>
22
<class 'int'>

In [33]:
k="10"
b=12.8
b1=str(b)
print(k+b1)

1012.8

In [34]:
print(12*2)

24

In [35]:
print("India "*3)

India India India

In [39]:
#New Line (\n)

print("I am Pratiksha Jagtap.\nI am from Nashik.\nI love my country")

I am Pratiksha Jagtap.
I am from Nashik.
I love my country

In [41]:
# \t is use for spaces, by default it has 4 spaces , and use for indentation

print("I am Pratiksha Jagtap.\tI am from Nashik.\tI love my country")

I am Pratiksha Jagtap.	I am from Mumbai.	I love my country

###  User Defined Input

In [42]:
grade=int(input("Enter your grade:- "))
print(grade)

Enter your grade:- 25
25

In [43]:
grade=float(input("Enter your grade:- "))
print("MY grade is",grade)

Enter your grade:- 12.5
MY grade is 12.5

In [44]:
Fav = input('Enter Your Favorite Color: ')
print('Your Favorite Color is ',Fav)

Enter Your Favorite Color: Black
Your Favorite Color is  Black