## **1. Which method/inbuilt function should I use to convert String "welcome to the beautiful world of python" to "Welcome To The Beautiful World Of Python".**

In [ ]:
string = "welcome to the beautiful world of python"
New_string = string.title()
print(New_string)

Welcome To The Beautiful World Of Python

## **2. Split a given string on hyphens into several substrings**

  **str1 = Emma-is-a-data-scientist**

In [ ]:
str1 = "Emma-is-a-data-scientist"
new_str1 = str1.split("-")
print(new_str1)

['Emma', 'is', 'a', 'data', 'scientist']

## **3. Remove empty strings from a list of strings**

        Original list of sting = ['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

        After removing empty strings = ['Emma', 'Jon', 'Kelly', 'Eric']

In [ ]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print("Original list of sting")

new_string = list(filter(None, str_list))
print("After removing empty strings")
print(new_string)

Original list of sting
After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

## **4. Create an string and execute the following inbuilt functions on it.**

         - upper, lower, capitalize, split, join, isnumeric, isalpha, isdigit, count, isalnum.

In [ ]:
# upper

txt = "this is upper inbuild function in python"
upper_func = txt.upper()
print(upper_func)

THIS IS UPPER INBUILD FUNCTION IN PYTHON

In [ ]:
# lower

txt = "THIS IS LOWER IN-BUILD FUNCTION"
upper_func = txt.lower()
print(upper_func)

this is lower in-build function

In [ ]:
# capitalize

txt = "hello, welcome to python programming"
cap = txt.capitalize()
print(cap)

Hello, welcome to python programming

In [1]:
# split

txt = "This is Python Programming"
string = txt.split()
print(txt)
print(string)

This is Python Programming
['This', 'is', 'Python', 'Programming']

In [2]:
# join

my_txt = ('Pratiksha','Rajendra','Jagtap')
join_func = "#".join(my_txt)
print(my_txt)
print(join_func)

('Pratiksha', 'Rajendra', 'Jagtap')
Pratiksha#Rajendra#Jagtap

In [6]:
# isnumeric

text1 = '562145'
isnumeric_func1 = text1.isnumeric()
print('Text1 is:- ',isnumeric_func1)


text2 = 'Python'
isnumeric_func2 = text2.isnumeric()
print('Text2 is:- ',isnumeric_func2)

Text1 is:-  True
Text2 is:-  False

In [9]:
# isalpha

text1 = "PythonProgramming"
isalpha_func1 = text1.isalpha()
print('text1 is:- ',isalpha_func1)

text2 = "Python 3.2"
isalpha_func2 = text2.isalpha()
print('text2 is:- ',isalpha_func2)

text1 is:-  True
text2 is:-  False

In [11]:
# isdigit

txt1 = "50800"
isdigit_func1= txt1.isdigit()
print('Text1 is:- ',isdigit_func1)

txt2 = "Python"
isdigit_func2= txt2.isdigit()
print('Text2 is:- ',isdigit_func2)

Text1 is:-  True
Text2 is:-  False

In [12]:
# count

txt = "I love Python Programming, Python Programming is easy Language"
count_func = txt.count("Python")
print(count_func)

2

In [18]:
# isalnum

txt1 = "Python3"
isalnum_func1 = txt1.isalnum()
print('text1 is:- ',isalnum_func1)


txt2 = "Python Programming"
isalnum_func2 = txt2.isalnum()
print('text2 is:- ',isalnum_func2)

text1 is:-  True
text2 is:-  False

## **5. Guess the correct output of the following code?**

       str1 = "PYnative"
       print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

In [19]:
str1 = "PYnative"
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

Yna PYnat tive PYnativ PYnativ

## **6. write the correct output of the following String operations**

        str1 = 'Welcome'
        print(str1*2)

In [20]:
str1 = 'Welcome'
print(str1*2)

WelcomeWelcome

## **7. Find all occurrences of “USA” in given string ignoring the case**
    str1 = "Welcome to USA. usa awesome, isn't it?

In [21]:
str1 = "Welcome to USA. usa awesome, isn't it?"
print(str1.lower().count('usa'))

2