## **1. Select all the correct options to join two lists.**
      listOne  =  ['a', 'b', 'c', 'd']
      listTwo =  ['e', 'f', 'g']

      a)	newList = listOne + listTwo
      b)	newList = extend(listOne, listTwo)
      c)	newList = listOne.extend(listTwo)
      d)	newList.extend(listOne, listTwo)

In [6]:
listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']

newList = listOne + listTwo
print(newList)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# so here option a is correct

## **2. Create an list of elements and execute the following functions: reverse, append, extend, count,sort.**

In [14]:
# reverse

list_items = [2, 1, 3, 5, 4, 3, 8]
print('before:- ',list_items)
list_items.reverse()
print('after:- ',list_items)

before:-  [8, 3, 4, 5, 3, 1, 2]
after:-  [2, 1, 3, 5, 4, 3, 8]

In [15]:
# append

list_items = [2, 1, 3, 5, 4, 3, 8]
print('before:- ',list_items)
list_items.append(12)
print('after:- ',list_items)

before:-  [2, 1, 3, 5, 4, 3, 8]
after:-  [2, 1, 3, 5, 4, 3, 8, 12]

In [19]:
# extend

colors = ["Pink","Black","Purple","Green"]
other_colors = ["Red","Yellow"]

print('Colors:- ',colors)
print('Other Colors:- ',other_colors)

colors.extend(other_colors)
print('After extend Function Colors:- ',colors)

Colors:-  ['Pink', 'Black', 'Purple', 'Green']
Other Colors:-  ['Red', 'Yellow']
After extend Function Colors:-  ['Pink', 'Black', 'Purple', 'Green', 'Red', 'Yellow']

In [21]:
# count

fruits = ["Apple", "Mango", "Banana", "Cherry" , "Papaya","Apple"]
print(fruits.count("Apple"))

2

In [22]:
# sort

items = [2,5,6,1,8,3]
print("Before Sort:- ",items)
items.sort()
print("After Sort:- ",items)

Before Sort:-  [2, 5, 6, 1, 8, 3]
After Sort:-  [1, 2, 3, 5, 6, 8]

## **3.  Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.**
    Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
    Expected Output : ['Green', 'White', 'Black']

In [23]:
sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(sample_list)
del sample_list[0]
del sample_list[3]
del sample_list[3]
print(sample_list)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

## **4. What is the output of the following list operation**
        aList = [10, 20, 30, 40, 50, 60, 70, 80]
        print(aList[2:5])
        print(aList[:4])
        print(aList[3:])

In [24]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

## **5. Select all the correct options to copy a list**
         aList = ['a', 'b', 'c', 'd']

        a)	newList = copy(aList)
        b)	newList = aList.copy()
        c)	newList.copy(aList)
        d)    newList = list(aList)

In [27]:
aList = ['a', 'b', 'c', 'd']
newList = aList.copy()
print(newList)

['a', 'b', 'c', 'd']

In [30]:
aList = ['a', 'b', 'c', 'd']
newList = list(aList)
print(newList)

['a', 'b', 'c', 'd']

In [31]:
# so option b and option d is correct

## **6. Create an list of elements and slice & dice it.**

In [32]:
list_items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Get the first three elements
print(list_items[:3])

# Get elements from index 4 to 7 (excluding 7)
print(list_items[4:7])

# Get elements starting from index 2
print(list_items[2:])

# Get elements up to but not including index 6
print(list_items[:6])

# Get every other element starting from index 1
print(list_items[1::2])

# Get every third element starting from index 2
print(list_items[2::3])

# Reverse the list
print(list_items[::-1])

[1, 2, 3]
[5, 6, 7]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10]
[3, 6, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## **7. Given a Python list you should be able to display Python list in the following order**
       
       aLsit = [100, 200, 300, 400, 500]

       Expected output = [500, 400, 300, 200, 100]

In [37]:
# Method 1

aList = [100, 200, 300, 400, 500]
print(aList[::-1])

[500, 400, 300, 200, 100]

In [38]:
# Method 2

aList.reverse()
print(aList)

[500, 400, 300, 200, 100]

## **8. What will be the output of the following code snippet?**
    a=[1,2,3,4,5]
    print(a[3:0:-1])

In [39]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

## **9. Add item 7000 after 6000 in the following Python List**
     
    list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
    Expected output = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [40]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2, 7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]