## **1. what is the value of x**

In [ ]:
x = 0
while(x<100):
  x+=2
print(x)

100

## **2. Using while loop accept numbers until the sum of number is less than 100.**

In [13]:
sum = 0
while(sum <= 100):
  num = int(input("Enter a number: "))
  sum += num
print("The sum of the numbers entered is:", sum)

Enter a number: 55
Enter a number: 55
The sum of the numbers entered is: 110

In [ ]:
# in above output I pass first value as 55 the 55 < 100 then it has again give me text box two enter another number
# so I have value 55 and I again enter 55 as my second value so it has give me output as 110 is the sum of my entered numbers
# so I've reached to 100 that's why the program didn't give me the user interface of  me enter a number

## **3. Take 10 integers from keyboard using loop and print their average value on the screen.**

In [ ]:
total_sum = 0
for n in range (10):
    num = float(input('Enter number: '))

# calculate total sum of numbers
    total_sum += num

# calculate average of numbers
    avg = total_sum / 10

# print average value
print('Average of numbers = %0.2f' %avg)

Enter number: 1
Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 6
Enter number: 7
Enter number: 8
Enter number: 9
Enter number: 10
Average of numbers = 5.50

## **4. Print the following patterns using loop**

a)  
    
    *

    **

    ***

    ****

In [ ]:
rows = 4
for i in range(rows):
    for j in range(i + 1):
        print("*", end="")
    print(' ')

*
**
***
****

b.
   
   
        *  

       ***

      *****

       ***

        *

In [69]:
n = 3

# upward pyramid
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for j in range(2 * i + 1):
        print('*', end='')
    print()

# downward pyramid
for i in range(n - 1):
    for j in range(i + 1):
        print(' ', end='')
    for j in range(2*(n - i - 1) - 1):
        print('*', end='')
    print()

  *
 ***
*****
 ***
  *

c.

      1010101
    
       10101
       
        101
         
         1

In [81]:
n = 4
for i in range(n, 0, -1):
    for j in range(n - i + 1):
        print(" ", end="")
    for k in range(2 * i - 1):
        if k % 2 == 0:
            print("1", end="")
        else:
            print("0", end="")
    print()

 1010101
  10101
   101
    1

## **5. Print multiplication table of given number**

In [85]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num * i)

Enter a number: 2
2
4
6
8
10
12
14
16
18
20

## **6. Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration**

  **list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]**

In [89]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for x in list1:
  if(x %5 == 0):
    print(x)
    if(x >= 150):
      break

15
55
75
150

## **7. Given a number count the total number of digits in a number**

  **For example, the number is 75869, so the output should be 5.**

In [92]:
num = int(input("Enter a number: "))
count = 0
while num != 0:
  num //= 10
  count += 1
print("Number of digits:", count)

Enter a number: 84875452
Number of digits: 8

## **8. Display -10 to -1 using for loop**

In [93]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## **9. Display a message “Done” after successful execution of for loop**

In [97]:
for i in range(5):
  print(i)
print("Done!")

0
1
2
3
4
Done!

In [96]:
for i in range(10):
  if i %2 == 0:
    print(i, 'Even Number')
  else:
    print(i, 'Odd Number')
print('Done!')

0 Even Number
1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
Done!

## **10. Print the following pattern using nested for loop**

 5 4 3 2 1

 4 3 2 1

3 2 1

2 1

1

In [98]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1